DIV2K_train_HR
Flickr2K
DF2K_LR_HR
flicker_kernel_done
src/vgg19.pth
src/vgg19_bn.pth
results
results_kernels_DIV2K
KernelGAN
Dataset
src/val_results
src/val_results_1
src/val_results_2
src/val_results_3
src/val_results_4
src/val_results_5
src/val_results_6
src/wandb
src/trained_models
src/trained_models_1
src/trained_models_2
src/trained_models_3
src/trained_models_4
src/trained_models_5
src/trained_models_6
__pycache__
src/__pycache__


src_ir_imgs/vgg19.pth
src_ir_imgs/vgg19_bn.pth
src_ir_imgs/trained_models
src_ir_imgs/trained_models_1
src_ir_imgs/trained_models_2
src_ir_imgs/trained_models_3
src_ir_imgs/trained_models_4
src_ir_imgs/trained_models_5
src_ir_imgs/trained_models_6
src_ir_imgs/val_results
src_ir_imgs/val_results_1
src_ir_imgs/val_results_2
src_ir_imgs/val_results_3
src_ir_imgs/val_results_4
src_ir_imgs/val_results_5
src_ir_imgs/val_results_6
src_ir_imgs/wandb
FLIR